.profile-bar
{
	width:100%;
	height:10%;
	background-color:black;
}
#header
{
	background-color:darkgrey;
	height:20%;
	border-style: groove;
	text-align:left;
}

.header-logo
{
	max-height:200px;
}

.nav-bar
{

	color:white;
	background-color:black;
	height:80px;
	position:relative;

}

#nav-options
{
	
	background-color:white;

}

#nav-options ul
{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	background-color: #333;
}

#nav-options ul li
{
	float:left;
}

#nav-options ul li a
{
	display: block;
	color:white;
	text-align:center;
	padding:30px 26px;
	text-decoration:none;
}

#nav-options ul li a:hover
{
	background-color:#111;
}